@import './variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import './bootswatch';

.card-column {
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }

    @include media-breakpoint-only(lg) {
        column-count: 3;
    }

    @include media-breakpoint-only(md) {
        column-count: 2;
    }

    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
}

@media only screen and (min-width: 600px) {
    .card-columns {
        padding-right: 24px;
    }
}

#overlay {
    position: absolute;
    top: 64px;
    right: 5px;
    opacity: .9;
    width: 340px;
    z-index: 4;
}

.min-width-340 {
    min-width: 310px;
    max-width: 400px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

